:root {
  /* Colors */
  --primary-text-color: #616161;
  --black-color: #000000;
  --background-color: #FAFBFD;
  --white-color: #FFFFFF;
  --pink-color: #EC5863;
  --blue-button-color: #4285F4;
  --text-button-color: #FCFDFE;

  /* Font Weight */
  --extra-bold-font-weight: 800;
  --bold-font-weight: 700;
  --regular--font-weight: 400;

  /* Font and Typography */
  --base-font-family: 'Rubik', Arial;
  --small-text-font-size: 10px;
  --base-text-font-size: 12px;
  --title-font-size: 44px;
  --title-line-height: 55.44px;
  --base-line-height: 16.62px;
}

.button {
  color: var(--text-button-color);
  padding: 14px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--pink-color);
  letter-spacing: 0.5px;
  transition: background-color 300ms ease-in-out;
}

.button:hover {
  background-color: #F37A82;
}

.button__secondary {
  background-color: var(--blue-button-color);
}

.button__secondary:hover {
  background-color: #2558ab;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-text-font-size);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 18px;
  font-weight: var(--bold-font-weight);
  color: var(--black-color);
  line-height: 21.28px;
}

.header__title span {
  color: var(--pink-color);
}

.header__logo img {
  width: 40px;
  height: 40px;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.menu__list {
  display: flex;
  gap: 40px;

}

.menu__link {
  text-transform: uppercase;
  font-weight: var(--bold-font-weight);
  font-size: 10px;
  line-height: 1.2;
  color: var(--black-color);
}


main {
  flex: 1 1 auto;
}

/* Menu burger */
.icon-menu {
  display: none;
}



/* Media */

@media (max-width: 1087px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 760px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .header__container {
    min-height: 80px;
  }
  .menu__list {
    gap: 25px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}